<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>RouteServlet</servlet-name>
        <servlet-class>com.busbooking.controller.RouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouteServlet</servlet-name>
        <url-pattern>/RouteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookTicketServlet</servlet-name>
        <servlet-class>com.busbooking.controller.BookTicketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookTicketServlet</servlet-name>
        <url-pattern>/BookTicketServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
